################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Isidore.Models/bin
/Isidore.Models/obj/Debug
/Isidore.Models/obj/Release
/Isidore.Models/obj/x64/Debug
/Isidore.Models/obj/x64/Release
/Isidore.Render/bin
/Isidore.Render/obj
/Isidore_Tests/bin
/Isidore_Tests/obj
/Isidore_Tests/OutputData/**/*.mat
/Isidore_Tests/OutputData/**/*.eps
/Isidore_Tests/OutputData/**/*.pdf
/Isidore_Tests/OutputData/**/*.png
/Isidore_Tests/OutputData/**/*.mp4
/Isidore_Tests/OutputData/**/*.fig
/packages
/Isidore_Tests/Isidore_Tests.csproj.user
/Isidore.ImgProcess/bin
/Isidore.ImgProcess/obj
/Isidore.Library/bin
/Isidore.Library/obj
/Isidore.Load/bin
/Isidore.Load/obj
/Isidore.Maths/bin
/Isidore.Maths/obj/Debug
/Isidore.Maths/obj/Release
/Isidore.Maths/obj/x64/Debug
/Isidore.Maths/obj/x64/Release
/Isidore.Matlab/bin
/Isidore.Matlab/obj/Debug
/Isidore.Matlab/obj/Release
/Isidore.Matlab/obj/x64/Debug
/Isidore.Matlab/obj/x64/Release
/Isidore.Render/Shapes/Billboard - Copy.cs
/Isidore.Render/Shapes/Mesh - Copy.cs
/Isidore.Render/RayTracer/Body - Copy.cs
/Isidore.Render/RayTracer/AABB - Copy.cs
/Isidore.Render/RayTracer/OBB - Copy.cs
/Isidore.Render/Shapes/MeshOctree - Copy.cs
/Isidore_Tests/OutputData - Copy MC/Maths/KDTree/Figs_KDtree_Ex
/Isidore_Tests/OutputData - Copy MC/Maths/MarchingCubes/Figs
/Isidore_Tests/OutputData - Copy MC/Models/ReferencePointTurbulence/Outputs_RPT
/Isidore_Tests/OutputData - Copy MC/Models/ScatterPointTurbulence/Outputs_SPT
/Isidore_Tests/OutputData - Copy MC/Models/TurbulencePointWFS/Output_TP_WFS
/Isidore_Tests/OutputData - Copy MC/Models/TurbulentNoise/Output
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/FigsNoise
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/FigsPerlinStandard
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/FigsProc
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/MatsMix
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/MatsNoise
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/VidsVal
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/VidsProc
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/VidsPert
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/VidsMix
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/MatsVal
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/MatsProc
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/MatsPert
/Isidore_Tests/OutputData - Copy MC/Render/ProceduralTexture/MatsPerlinStandard
/Isidore_Tests/OutputData - Copy MC/Render/TextureMap/Figs
/Isidore_Tests/OutputData - Copy MC FreqNoise/Maths/KDTree/Figs_KDtree_Ex
/Isidore_Tests/OutputData - Copy MC FreqNoise/Maths/MarchingCubes/Figs
/Isidore_Tests/OutputData - Copy MC FreqNoise/Models/ReferencePointTurbulence/Outputs_RPT
/Isidore_Tests/OutputData - Copy MC FreqNoise/Models/TurbulencePointWFS/Output_TP_WFS
/Isidore_Tests/OutputData - Copy MC FreqNoise/Models/TurbulentNoise/Output
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/FigsNoise
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/FigsPerlinStandard
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/FigsProc
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/MatsMix
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/MatsNoise
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/VidsVal
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/VidsProc
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/VidsPert
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/VidsMix
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/MatsVal
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/MatsProc
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/MatsPert
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/ProceduralTexture/MatsPerlinStandard
/Isidore_Tests/OutputData - Copy MC FreqNoise/Render/TextureMap/Figs
/Isidore_Tests/OutputData - Copy MC Old/Maths/KDTree/Figs_KDtree_Ex
/Isidore_Tests/OutputData - Copy MC Old/Maths/MarchingCubes/Figs
/Isidore_Tests/OutputData - Copy MC Old/Models/ReferencePointTurbulence/Outputs_RPT
/Isidore_Tests/OutputData - Copy MC Old/Models/ScatterPointTurbulence/Outputs_SPT
/Isidore_Tests/OutputData - Copy MC Old/Models/TurbulencePointWFS/Output_TP_WFS
/Isidore_Tests/OutputData - Copy MC Old/Models/TurbulentNoise/Output
*.bak
